.gallery-image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.gallery-image {
  object-fit: cover;
  height: 384px;
  margin: 2px;
  overflow: hidden;
  min-width: calc(50% - 4px);
}

.gallery-image-active {
  margin: 2px;
  box-shadow: 0px 0px 12px 8px rgba(40, 40, 40, .2);
}
